.form {
    background-color: rgb(243, 189, 118);
    position: relative;
    min-height: 70vh;
    padding-top: var(--primary-element-spacing);
    padding-bottom: var(--primary-element-spacing);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  
  